@model IEnumerable<BTLNHOM15.Models.GoiTap>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý danh sách gói tập luyện</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGoi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaGoi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGoiTap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGoiTap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGoiTap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
