@model BTLNHOM15.Models.HoiVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoiVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SĐT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailHV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailHV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoiTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoiTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaybatdau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaybatdau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayketthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayketthuc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HoiVienID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
