@model IEnumerable<BTLNHOM15.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý nhân viên</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới</a>
</p>
<table class="w3-table-all">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SĐT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SĐT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaID" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.MaID" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.MaID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
