@model BTLNHOM15.Models.ThietBi

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá bỏ</h1>

<h3>Bạn có muốn xoá không ?</h3>
<div>
    <p>
    <a asp-action="Create" class="btn btn-success">Thiết bị</a>
</p>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang.NoidungTT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaTB" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Trở về</a>
    </form>
</div>
