@model IEnumerable<BTLNHOM15.Models.ThietBi>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý cơ sở thiết bị</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới</a>
</p>
<table class="w3-table-all">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang.NoidungTT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTB" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.MaTB" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.MaTB" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
